.board {
    width: 16rem;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.board-square {
    width:4rem;
    height: 4rem;
    border: 1px solid black;
    margin-right: -1px;
    margin-top: -1px;
    cursor: grab;
}

.board-square .board-square__value {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}